{% extends 'base.html' %}
{% block content %}
<div class="body-part">
<div class="content">
    <div class="container">
        <div class="heading">
            <h1>A FARMING COMPANY</h1>
            <p>All the agricultural products</p>
        </div>
    </div>

    <div class="page-body">
    	<div class="about-img">
    		<img src="https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
    	</div>
    	<p>
    	We are a manufacure company location in Singapore, We we produce the all the accessories products for agriculture. We do product latest designed equipments for agriculture to make the farmer easy to take care of their harvest. 

    	<br/><br/>
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    	<br/><br/>
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    </p>
    <h1>Our Products : </h1>
    <div class="products">
    	<span>Spray</span><span>Tankey</span><span>Alminium</span><span>Pipes</span><span>robber</span>
    	<span>Irons</span><span>product 1</span><span>product 2</span>
    </div>


    </div>



</div>


{% endblock %}





